PORT=3000
PUBLIC_BASE_URL=http://localhost:3000

AWS_REGION=ap-southeast-1
AWS_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

URL_TABLE=urls
URL_USER_INDEX=user-index
USER_TABLE=users
USER_USERNAME_INDEX=username-index

# this jwt should be in aws secretmanager for future development
JWT_SECRET=y4G8VLV7/X5JqX5m+dGym3j+BCaRXluRl8OQDzDohhg=
JWT_EXPIRES_IN=7d
